@use '../../variables.scss' as v;

@mixin flip-animate-color($from, $to) {
    @keyframes flip-animate-color-#{$from}-#{$to} {
        0% {
            background-color: $from;
            transform: rotateX(0deg);
        }
        50% {
            background-color: $from;
            transform: rotateX(90deg);
        }
        100% {
            background-color: $to;
            transform: rotateX(0deg);
        }
    }

    animation-name: flip-animate-color-#{$from}-#{$to};
    animation-duration: 2s;
    //animation-delay: calc(var(--index) * 0.1s); TODO: fix this
}

.word {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(var(--length), 1fr);
    height: 100%;
    margin-bottom: 1rem;

    .char {
        height: 100%;
        width: 100%;
        border: 1px solid grey;
        
        padding: 0;



        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        span {
            font-size: 3rem;
            text-transform: capitalize;
            color: white;
        }

        &.filled {
            background-color: grey;
        }

        &.incorrect {
            background-color: red;
            @include flip-animate-color(grey, red);
        }

        &.kinda-correct {
            background-color: orange;
            @include flip-animate-color(grey, orange);
        }

        &.correct {
            background-color: green;
            @include flip-animate-color(grey, green);
        }


    }
}